# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [12]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [18]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
# print(result)

print(result + 2)

7.4
9.4

##### Subtraction

In [22]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [24]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [27]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [29]:
result_floor = num2 // num1
print(result_floor)

result_floor//= 2
print(result_floor)

2.0
1.0

##### Modulo

In [34]:
result_mod = 10 % 3
print(result_mod)

result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1
1.4000000000000004
1.4000000000000004

##### Exponential

In [36]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [45]:
name = 'Tommy'
print(name)

Tommy

##### print() <br>
<p>Don't forget about end=' '</p>

In [46]:
print("This is my name: " + name, end=" Faughn")

This is my name: Tommy Faughn

##### String Concatenation

In [47]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [55]:
number = "56"
change_type_num = int(number)
print(number)
print(change_type_num + 1)

56
57

##### input()

In [68]:
age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your age? 45
50

##### format()

In [73]:
age = input("what is your age? ")
result_string = "You are {} {} and getting wiser.".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life."
print(result_again)

what is your age? 35
You are 35 dawg and getting wiser.
35 is a great time in life.

##### Old Way (python 2)

What is the make of your vehicle? Subaru
What is the Model of your vehicle? Crosstrek
What is the year of your vehicle?2023
What is the color of your vehicle? grey
Your sweet ride is a grey 2023 Subaru Crosstrek

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
make = input("What is the make of your vehicle? ")
model = input("What is the Model of your vehicle? ")
year = input("What is the year of your vehicle?")
color = input("What is the color of your vehicle? ")
vehicle = color + " " + year + " " + make.title() + " " + model.title()
print("Your sweet ride is a " + vehicle)

### If Statements

In [99]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 10
num2 = 1
# if num1 == num2:
#     print("Equal values.")
# else:
#     print("Values are not equal.")

if num2 > num1:
    print("Num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else: 
    print("equal values")

num1 is greater

##### 'is' keyword

In [ ]:
num55 = 55

if num55 is 55:
    print(num55)

##### 'in' keyword

In [111]:
char_name = "Thatcher"
if "Thatcher" in char_name:
    print(char_name)

Thatcher

##### 'not in' keyword'

In [110]:
char_name = "RoboCop"
if "Thatcher" not in char_name:
    print("Thatcher is not here..."")

fuck

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [113]:
p = input("Give me a letter! ")
if p == "p":
    print("You guessed correctly!")
else:
    print("Try again")

Give me a letter! x
Try again

## Using 'and'/'or' with If Statements

In [119]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statement

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# if with 'or' statement
if num_13 == num_14 or num_11 > num_12:
    print('False and True')

True and True
True and False

### Elif Statements

In [124]:
first_name = input("What is your name? ")

if first_name == 'Smith':
    print("The name is Smith. ")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

What is your name? max
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [137]:
# syntax:
# for counter in condition

name = "Tommy Faughn"
a_list = [1, 2, 3, 4]

for x in a_list:
    print(x)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [144]:
for i in name:
    if i == "a":
        continue
    print(i)

T
o
m
m
y

F
u
g
h
n

##### Break Statement

In [ ]:
# will break out of current loop

In [145]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [146]:
for i in name:
    pass

##### Double For Loops

In [150]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [152]:
# Syntax: 
# While keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [155]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        break

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [159]:
num = 0

while num < 5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [164]:
# range(Start, Stop, Step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [166]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Lord of The Rings
17

##### help()

In [172]:
# Use this function to view more info about a python function
help(div)

NameError: name 'div' is not defined

##### isinstance()

In [180]:
# Check a variable. to find out what object family (or data type) it belongs to
# ininstance(var, type)

num = input("Pick a number")

if isinstance(num, int):
    print(f"{num} is an integer.")
else:
    print(f"{num} is a float.")

Pick a number4
4 is a float.

##### abs()

In [181]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [187]:
# Use this to log out graceful and useful error messages.
# Does not stop the program! Neato!

try:
    input_num = int(input('Guessa a number: '))
    print("Your number is " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guessa a number: apples
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [223]:
list_1 = []

names = ['Max', 'Cindy,', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy,', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [209]:
# list_name[start: stop: step: ]

# Single index
print(names[3])

# print starting at index 1 going to the end

print(names[0:])

# print starting at the beginning of a list up intil a number

print(names[:2])

# print starting at index one, and STEPPING up by 2 in each iteration

print(names[1::2])

# print starting at the end, and display in reverse order

print(names[::-1])

Bob
['Max', 'Cindy,', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy,']
['Cindy,', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy,', 'Max']

##### .append()

In [227]:
names.append('Brandon')
print(names)

['Max', 'Cindy,', 'Kathy', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [231]:
names.insert(2, 'Tommy')
print(names)

['Max', 'Cindy,', 'Tommy', 'Tommy', 'Tommy', 'Tommy', 'Kathy', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### .pop()

In [234]:
# Defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it

my_name = names.pop(2)
print(my_name)
print(names)

Tommy
['Max', 'Cindy,', 'Tommy', 'Kathy', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']


##### .remove()

In [237]:
# # Value to be removed rather than the index
# names.remove('4')
# print(names)

# remove multiples tommys from list
while 'Tommy' in names:
    names.remove('Tommy')
print(names)

['Max', 'Cindy,', 'Kathy', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### del()

In [238]:
# Goes by index, rather than value
# Be careful with de, it can cause indexing errors if not used correctly

del(names[1])
print(names)

['Max', 'Kathy', 'Nate', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### Concatenating Two Lists

In [244]:
# Will append two lists together, will NOT add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists.

names = ['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [247]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword.

# By index
for i in range(len(names)):
    print(names[i])

# Loop with 'in'
for variable in names:
    print(variable)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [253]:
i = 3
while i <= 1000:
    print(i)
    i = i*3

3
9
27
81
243
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [268]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(2,100):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
       print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [272]:
age = int(input("What is your age? "))
if age < 18:
    print("You are a kid.")
elif age >= 18 and age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

What is your age? 66
You are a senior.